<!DOCTYPE html>
<html>
  <head>
    <title>Videogame Reviews</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Videogame Reviews</h1>
    <p>Welcome!!</p>
    <a href="/videogames/new">Add a Game</a> | <a href="/videogames">All Videogames</a>
  </body>
</html>
