body {
  padding: 50px;
  font: 14px;
  background-color: black;
}

a {
  color: #00B7FF;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid white;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: black;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#show-page {
  display: flex;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  color: white;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: black;
  background-color: white;
}

nav > a.active {
  color: black;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

form *, .dropdown {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  color: white;
  background-color: black;
}
#new-form input[type="submit"]:hover {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
  color: black;
  background-color: white;
}

#delete {
  color: white;
  background-color: black;
}

#delete:hover {
  color: black;
  background-color: white;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid black;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: black;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
  color: white;
  background-color: black;
}

#add-review-form input[type="submit"]:hover {
  width: 10rem;
  grid-column: 2 / 3;
  color: black;
  background-color: white;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

hr {
  color: black;
}

#badge-container {
  display: flex;
  padding: 1rem; 
  width: 80%;
  border: 2px solid black;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: black;
  padding: .5rem;
  margin: 1rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}