<%- include('../partials/header') %>
<form id="new-form" action="/videogames" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Release Year:</label>
    <input type="text" name="releaseYear">
    <label>ESRB Rating</label>
    <select name="esrbRating">
      <option value="E">E</option>
      <option value="T">T</option>
      <option value="M">M</option>
      <option value="RP">RP</option>
    </select>
    <label>Console:</label>
    <input type="text" name="console">
    <input type="submit" value="Add Game">
  </form>
<%- include('../partials/footer') %>